<html>
    <head>
        <title>Welcome to my app</title>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
        <link rel="icon" href="data:,">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div style="display: flex; flex-direction: row;">
            <a href="/" style="margin-right: 1%">Home</a>
            <a class="github-button" href="https://github.com/Shukanat/simple-flask-app" data-color-scheme="no-preference: dark; light: light; dark: dark;" aria-label="Watch Shukanat/simple-flask-app on GitHub"> Code</a>
        </div>

        <img style="max-width:100%;height:auto; margin: 1% 1% 1% 1%;" src='{{ graph1 }}' />

     </body>
</html>